

/*##################################
font-family
##################################*/

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Neo Bold'),
    url('fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src: local('Spoqa Han Sans Neo Medium'),
    url('fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Neo Regular'),
    url('fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src: local('Spoqa Han Sans Neo Light'),
    url('fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    src: local('Spoqa Han Sans Neo Thin'),
    url('fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('fonts/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}


/*##################################
0. 공통으로 적용될 style
##################################*/

*{margin: 0; padding: 0; font-family: 'Spoqa Han Sans Neo', 'sans-serif';}

html, body { width: 100%; overflow-x: hidden;}

#wrapper { width: 100%;
	position: relative;}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.hidden_content {
	overflow: hidden;
}


/*##################################
1. nav
##################################*/

#gnb {
	max-width: 1360px;
	height: 80px;
	position: absolute;
	z-index: 10;
	margin-left: 13%;
	top: 25px;
}

#gnb #navlogo {
	border: 1px solid rgba(0,0,0,0); /*삭제하면 사라짐 ㅠㅠ*/
	background: url("img/logo.png") no-repeat center/cover;
	width: 128px;
	height: 28px;
	margin-right: 30px;
	margin: 4% 60px 0 0;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
}

#gnb nav {
	border: 1px solid rgba(0,0,0,0); /*테스트용*/
	display: flex;
}



#gnb nav ul {
/*	border: 1px solid blue; /*삭제하면 사라짐 ㅠㅠ*/
	height: 28px;
	display: block;
	cursor: pointer;
	color: black;
	margin-left: 5px;
	margin: 4% 0 0 25px;
	
}

#gnb nav ul a {
	text-decoration: none;
	color: black;
	font-weight: bolder;
	text-align: center;
	line-height: 28px;
	letter-spacing: -2px;
}



#hamburger {
	z-index: 11;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #3b3a3a;
	opacity: 0.9;
	padding-top: 20%;
}


#hamburger ul {
	width: 100%;
	height: 20px;
	margin: 40px 0;
	text-align: center;
}

#hamburger ul a {
	text-decoration: none;
	color: white;
	font-weight: bolder;
	font-size: 1.5em;

}

#hamburger .material-symbols-outlined {
	color: white;
	font-size: 2em;
	font-weight: bolder;
	position: absolute;
	right: 15px;
	top: 15px;
	display: block;
	cursor: pointer;
}




/*##################################
section1 
##################################*/


#sec1 {
	width: 100%;
	height: 100vh;
	min-height: 800px;
	display: flex;
	position: relative;
	overflow: hidden;

}


#sec1 #main1 {
	width: 100%;
	height: 100%;
	background: url("img/bg_main.jpeg") no-repeat center/cover;
	position: relative;
}

#sec1 #main2 {
	width: 100%;
	height: 100%;
	background: url("img/bg_main1.jpeg") no-repeat center/cover;
/*	display: none;*/

}


/*#sec1 #main1 span, #sec1 #main2 span,#sec1 #main1 li, #sec1 #main2 li {*/

/*.main1text,.main1img, #sec1 #main1 li, #sec1 #main2 li {	*/

#main1 .main1_txt, #main2 .main1_txt{
/*	border: 1px solid red;*/
	width: 500px;
	height: 600px;
	position: relative;
	top: 12%;
	left: 5%;

}

/*
.txt_ani {
		animation: fadeInUp 2s;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

*/
#main1 ul, #main2 ul { 
	list-style: none;
/*	border: 1px solid red;*/
/*	width: 380px;*/
	position: relative;
	bottom: -70%;
	left: 15%;
}


#main1 ul li, #main2 ul li {
/*	border: 1px solid black;*/
	display:inline-block;
	padding: 10px 20px;
	font-size: 1.2em;
	color: white;
/*	background-color: black;*/
	border-radius: 35px;
	cursor: pointer;
	position: absolute;

}

#main1 ul li{
	background-color: black;
}

#main2 ul li{
	background-color: rgba(171, 150, 251, 0.7);
}

#main1 ul li:hover {
		background-color: rgba(171, 150, 251, 0.7);
		transition: 0.8s;
}

#main2 ul li:hover {
	background-color: black;
	transition: 0.8s;
}


/*#main1 ul li:nth-of-type(2) {
	top: 250px;
} */

#main1 ul li:nth-of-type(1), #main2 ul li:nth-of-type(1) {
	bottom: 180px;
}

#main1 ul li:nth-of-type(2), #main1 ul li:nth-of-type(3), #main2 ul li:nth-of-type(2), #main2 ul li:nth-of-type(3){
	bottom: 120px;
}

#main1 ul li:nth-of-type(3), #main2 ul li:nth-of-type(3) {
	left: 120px;
}


.main1text {
	font-size: 4.1em;
	font-weight: 700;
	position: relative;
	top: 30%;
	left: 15%;
}


.main1img {
	contain: "";
	display: inline-block;
	background: url(img/it.png);
	width: 58px;	
	height: 39px;
	position: relative;
	left: 15%;
	top: 	26%;
	margin-right:1%;
}


/*##################################
section1 - purplebox
##################################*/

#main1 .purpleBox, #main2 .purpleBox {
	width: 280px;
	height: 100%;
	background-color: rgba(171, 150, 251, 0.7);
/*	z-index: 999;*/
	position: absolute;
	bottom: 0;
	right: 0;

}

.purpleani {
	animation: purpleani 0.4s;
}

@keyframes purpleani {
	0%{
		width: 280px;
	}

	50%{
		width: 100%;
	}

		100%{
		width: 280px;
	}
}

#main1 .purpleBox p, #main2 .purpleBox p {
/*	border: 1px solid red;*/
	position: relative;
	text-align: left;
	width: 180px;
	top: 40%;
	margin-top: 10px;
	left: 100px;
	font-size: 2em;
	font-weight: bolder;
	color: white;
	letter-spacing: -2px;
}

#main1 .material-symbols-outlined, #main2 .material-symbols-outlined  {
/*	border: 1px solid red;*/
	position: absolute;
	font-size: 2em;
	top: 45%;
	width: 60px;
	left: 20px;
	text-align: right;
	color: white;
	animation: purpleanimation 1.5s infinite;

}

@keyframes purpleanimation {
	0% {
		opacity: 0;
		transform: translateX();
	}

	50% {
		opacity: 1;
		transform: translateX(-20px);
	}

	100% {
		opacity: 0;
		transform: translateX();
	}
}


#main1 .material-symbols-outlined, #main2 .material-symbols-outlined, #main1 p, #main2 p {
	display: block;
	cursor: pointer;
}

/*##################################
section1 - purplebox_min
##################################*/

/*#main1 .purpleBox_min, #main2 .purpleBox_min {
	width: 100%;
	height: 80px;
	background-color: red;
	position: absolute;
	top: 860px;
}*/





/*##################################
section2
##################################*/

#sec2 {
/*	border: 1px solid red;*/
	width: 100%;
	height: 100vh;
	min-height: 830px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-wrap: nowrap;
	background: url(img/bg_gradient.jpeg) no-repeat center;
	background-size: cover;
	overflow: hidden;
}


#sec2content1 {
/*		border: 1px solid blue;*/
		flex: 1 0 420px;
		width: 420px;
		height: 100%;
		margin-left: 14%;
}

#sec2 #sec2txt {
/*	border: 1px solid red;*/
	display: inline-block;
	position: relative;
	font-size: 3em;
	width: 100%;
	top: 20%;

}

#sec2 #sec2txt p:nth-of-type(2), #sec2 #sec2txt span{
	font-weight: 	bolder;
}



#sec2 .sec2Btn {
/*	border: 1px solid black;*/
	display: inline-block;
	position: relative;
	width: 120px;
	height: 40px;	
	padding: 5px 10px;
	text-align: center;
	background-color: #262626;
	line-height: 40px;
	border-radius: 10px;
	top: 40%;	
}

#sec2 .sec2Btn:hover {
	background-color: black;
}

#sec2 .sec2Btn a {
	text-decoration: none;
	color: white;
}


#sec2 #sec2subtxt {
	position: relative;
/*	border: 1px solid blue;*/
	width: 80%;
	bottom: -45%;
}

#sec2 #sec2subtxt p:nth-of-type(1) {
	color: #9d9d9d;
}

#sec2 #sec2subtxt p:nth-of-type(2) {
	color: #ab96fb;
}

#sec2content1 #sec2txt span:nth-of-type(2) {
	contain: "";
	background: url(img/ic_it.png) no-repeat center/cover;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 20px;
	position: absolute;
}

#sec2content1 #sec2txt span:nth-of-type(3) {
		position: absolute;
		left: 65px;
}




/*##################################
section2 - carousel
##################################*/

#sec2 #carousel1 {
/*	border: 1px solid blue;*/
	width: 1185px;
/*	height: 500px;
	position: absolute;
	left: calc(14% + 450px);
	top: 20%;*/
	display: flex;
	align-items: center;
	overflow: hidden;

}


#sec2 #carousel1 div.sec2card {
/*	border: 1px solid blue;*/
	width: 335px;
	height: 500px;
	max-width: 335px; 
	min-width: 335px; 
	border-radius: 20px;
	margin-right: 20px;
	position: relative;
	display: block;
	user-select:none; 
	/* 유저 스크롤 일단 막음, 캐로셀 효과 주면 안먹는지 확인하고 처리하면될듯? */
/*	cursor: pointer;*/
	overflow: hidden;
	animation: movecard 10s linear infinite;
}


#sec2 #carousel1 .carouselWrapper {
		top: 20%;
/*		border: 1px solid blue;*/
		position: relative;
		display: flex;



}

@keyframes movecard {
  0% {
      left :0;
  }
  100% {
      left: -100%;
  }
}



#sec2 #carousel1 div.sec2card:nth-of-type(1) {
	background: url(img/seller2.jpg) no-repeat center/cover;
}


#sec2 #carousel1 div.sec2card:nth-of-type(2) {
	background: url(img/seller3.jpg) no-repeat center/cover;
}

#sec2 #carousel1 div.sec2card:nth-of-type(3) {
	background: url(img/seller4.jpg) no-repeat center/cover;
}

#sec2 #carousel1 div.sec2card:nth-of-type(4) {
	background: url(img/seller5.jpg) no-repeat center/cover;
}


#sec2 #carousel1 div.sec2cardtxt {
	width: 100%;
	height: 200px;
	background-color: white;
	border-radius: 0 0 20px 20px;
	position: relative;
	top: 300px;
	padding: 5%;
	text-align: center;
	justify-content: center;
}

#carousel1 #carousel .sec2card .sec2cardtxt p {
/*	border: 1px solid red;*/
	text-align: center;
	margin-top: 15px;
	margin-left: -15px;
}

#carousel1 #carousel .sec2card .sec2cardtxt p:nth-of-type(1) {
	font-size: 1.2em;
	color: #9d9d9d;
}


#carousel1 #carousel .sec2card .sec2cardtxt p:nth-of-type(2) {
	font-size: 0.7em;
	color: white;
	display: inline-block;
	background-color: #ab96fb;
	padding: 6px;
	border-radius: 15px;
}

#carousel1 #carousel .sec2card .sec2cardtxt p:nth-of-type(3) {
	font-size: 2em;
	font-weight: bolder;
}

#carousel {
	display: flex;
}




/*
#############################################
section3
#############################################
*/

#sec3 {
	width: 100%;
	height: 100vh;
	min-height: 800px;
	position: relative;
	overflow: hidden;
}

.secTxtWrapper{

	position: absolute;
	top: 0;
	right: 0px;
	margin: 220px 160px 0 0 ;
}

#sec3 #sec3txt {
/*	border:	1px solid red;*/
	position: relative;
	width: 300px;
	height: 220px;
	top: 150px;
	margin: 0 auto;
	right: 25%;
	z-index: 99;
}




#sec3 #sec3txt span {
/*	border:	1px solid red;*/
	background: url(img/ic_it.png);
	width: 20px;
	height: 20px;
	background-size: 20px;
	position: relative;
	left: 190px;
	display: block;
	top: -70px;
}

#sec3 #sec3txt p {
	position: relative;
	font-size: 3em;
	bottom: 90px;
	z-index: 99;
}

#sec3 #sec3txt p:nth-of-type(1) {
	top: 0px;
}

#sec3 #sec3txt p:nth-of-type(2) {
	left: 215px;
}


#sec3 #sec3txt p:nth-of-type(3),#sec3 #sec3txt p:nth-of-type(4) {
	font-weight: bolder;
}

#sec3_1st , #sec3_2st, #sec3_3st {
/*	border:	1px solid red;*/
/*	bottom: 100%;*/
	width: 280px;
	margin-left: 1%;
	text-align: left;
	margin-bottom: 20px;
	left: 70%;
}

#sec3_1st .sec3_txt .sec3_txt_header, #sec3_2st .sec3_txt .sec3_txt_header, #sec3_3st .sec3_txt .sec3_txt_header {
	font-size: 2.3em;
	font-weight: bolder;
	display: block;
	cursor: pointer;
	margin-bottom: 10px;
	color: #9d9d9d;
}

#sec3_1st .sec3_txt .sec3_txt_pupletxt, #sec3_2st .sec3_txt .sec3_txt_pupletxt, #sec3_3st .sec3_txt .sec3_txt_pupletxt {

	color: #ab96fb;
	font-size: 1.2em;
	font-weight: bolder;
	margin-bottom: 5px;
}



#sec3_2st .sec3_circles {
/*		border:	1px solid red;*/
		display: flex;
}

#sec3_2st .sec3_circles .sec3circle {
/*	border:	1px solid red;*/
	width: 70px;
	height: 70px;
	box-sizing: border-box;
	border-radius: 50%;
	margin: 0 2px;
	cursor: pointer;
}

#sec3_2st .sec3_circles .sec3circle:nth-of-type(1) {
	background-color: #e7e3ff;
}

#sec3_2st .sec3_circles .sec3circle:nth-of-type(2) {
	background-color: #fde300;
}

#sec3_2st .sec3_circles .sec3circle:nth-of-type(3) {
	background-color: #fea4ae;
}

#sec3_2st .sec3_circles .sec3circle:nth-of-type(4) {
	background-color: #93d5de;

}

#sec3_2st .sec3_circles .sec3circle:hover {
	opacity: 0.7;
  transition: 0.2s;
}


.active_toggle {
	color: black !important;
}

/*###################################
sec3 - #sec3img
###################################*/



#sec3 #sec3img {
/*	border:	1px solid red;*/
	height: 100%;
	position: relative;
	top: -220px;
	width: 80%;
	margin: 0 auto;
}



#sec3_1st_img:nth-of-type(1) {
	background: url(img/sns.svg);
}


#sec3img .sec3_1st_img:nth-of-type(1) {
/*	display: none;*/
/*	border:	1px solid red;*/
	background: url(img/sns.png);
	width: 374px;
	height: 107px;
	top: 120px;
	left: 50%;
	margin-left: -187px;
	position: absolute;
}

#sec3img .sec3_1st_img:nth-of-type(2) {
/*	display: none;*/
/*	border:	1px solid red;*/
	background: url(img/app_icon.png);
	width: 145px;
	height: 145px;
	left: 50%;	
	margin-left: -77.5px;
	top: 250px;
	position: absolute;
}

#sec3img .sec3_1st_img:nth-of-type(3) {
/*	display: none;*/
/*	border:	1px solid red;*/
	background: url(img/02_1b.png) no-repeat center/cover;
	width: 260px;
	height: 512.5px;
	margin: 0 auto;
	top: 450px;
	left: 50%;
	margin-left: -280px;
	position: absolute;
}

#sec3img .sec3_1st_img:nth-of-type(4) {
/*	display: none;*/
/*	border:	1px solid red;*/
	background: url(img/02_1b-1.png) no-repeat center/cover;
	width: 260px;
	height: 512.5px;
	top: 500px;
	left: 50%;
	margin-left: 10px;
	position: absolute;
}



/*
#sec3img .sec3_1st_img:nth-of-type(3) {

	background: url(img/02_1b.png) no-repeat center/cover;
	width: 260px;
	height: 512.5px;
	margin: 0 auto;
	top: 630px;
	left: 90%;
	margin-left: -280px;
	position: absolute;
}

#sec3img .sec3_1st_img:nth-of-type(4) {

	background: url(img/02_1b-1.png) no-repeat center/cover;
	width: 260px;
	height: 512.5px;
	top: 700px;
	left: 80%;
	position: absolute;
}
*/


/*
#sec3img .sec3_2nd_img:nth-of-type(1) {
		background: url(img/custom1.png) no-repeat center/cover;
		width: 260px;
		height: 512.5px;
		top: 100px;
		left: 0;
		position: absolute;
}



#sec3img .sec3_3rd_img:nth-of-type(1) {
		background: url(img/02_1b-1.png) no-repeat center/cover;
		width: 260px;
		height: 512.5px;
		top: 100px;
		left: 0;
		position: absolute;
}


#sec3img .sec3_3rd_img:nth-of-type(2) {
		background: url(img/popup.png) no-repeat center/cover;
		width: 260px;
		height: 512.5px;
		top: 600px;
		left: 20%;
		position: absolute;
}
*/

/*###################################
#sec4
###################################*/



#sec4 {
/*	display: none;*/
	width: 100%;
	height: 100vh;
	min-height: 800px;
	background: url(img/bg_3.jpeg) no-repeat center/cover;
}

#sec4 .sec4_contents{
/*	border:	1px solid red;*/
	width: 80%;
	height: 80%;
	margin: 0 auto;
	top: 25%;
	position: relative;
}

#sec4 .sec4_contents h1 {
	font-size: 3.5em;
}

#sec4 .sec4_contents .seller {
	margin-top: 30px;
	font-size: 2em;
	font-weight: bolder;
/*	border:	1px solid red;*/
	width: 400px;
	height: 50px;
	position: relative;
}

#sec4 .sec4_contents .seller .sec4_count {
/*	border:	1px solid red;*/
	display: flex;
	justify-content: end;
	position: relative;
	top: -65px;
	color: #ab96fb;
	text-align: right;
	width: 95px;
	height: 45px;
	font-size: 1.5em;
	left: 290px;
}


#sec4 .sec4_contents p {
	font-weight: bolder;
	top: 10px;
	position: relative;
	color: #9d9d9d;
	font-size: 0.9em;
}

#sec4 .sec4_contents .sec4_btn {
	position: relative;
	top: 50px;
	display: inline-block;
/*	border: 1px solid red;*/
	padding: 15px 20px;
	font-weight: bolder;
	border-radius: 15px;
	background-color: #e1daf3;
	cursor: pointer;
	margin-right: 10px;
}

#sec4 .sec4_contents .sec4_btn a {
	text-decoration: none;
	color: black;
}

#sec4 .sec4_contents .sec4_btn:hover {
	background-color: #ab96fb;

}


#sec4 .sec4_contents .seller .sec4_fixed{
/*	border: 1px solid red;*/
	position: absolute;
	left: 98%;
	bottom: 16%;
	color: #ab96fb;
	font-size: 1.5em;
}


/*###################################
#sec5 - section5
###################################*/

#sec5 {
/*	border: 1px solid red;*/
	height: 1400px;
	width: calc(100% - 160px);
	padding: 180px 80px;
	margin: 0 auto;
	position: relative;
}


#sec5 .sec5_title {
	font-weight: bolder;
	font-size: 3em;
/*	top: 50px;*/
	position: relative;
	top: 0;
	margin-bottom: 50px;
	left: 30px;
}


/*card style*/

#sec5 .sec5_card_wapper {
	overflow: hidden;

}

#sec5 .sec5_card_wapper .sec5_card {
/*	border: 1px solid red;*/
	width: calc(50% - 20px);
	height: 620px;
	padding: 40px 44px 0;
	border-radius: 15px;
	position: relative;
	box-sizing: border-box;
	float: left;
	margin: 0 10px 20px 10px;
	cursor: pointer;
}

#sec5 .sec5_card_wapper .sec5_card .sec5_card_bg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
	border-radius: 15px;
}

#sec5 .sec5_card_wapper .sec5_card:nth-of-type(1) .sec5_card_bg, #sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(2) {
	background: url(img/bg_review1.jpg) no-repeat center/cover;
}


#sec5 .sec5_card_wapper .sec5_card:nth-of-type(3) .sec5_card_bg, #sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(4) {
	background: url(img/bg_review2.jpeg) no-repeat center/cover;
}

#sec5 .sec5_card_wapper .sec5_card:nth-of-type(5) .sec5_card_bg, #sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(6) {
	background: url(img/bg_review3.jpg) no-repeat center/cover;
}

#sec5 .sec5_card_wapper .sec5_card:nth-of-type(7) .sec5_card_bg, #sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(8) {
	background: url(img/bg_review4.jpg) no-repeat center/cover;
}



#sec5 .sec5_card_wapper .sec5_card .sec5_card_title {
	font-size: 2.2em;
	font-weight: bolder;
	margin-bottom: 20px;
	display: flex;
}

#sec5 .sec5_card_wapper .sec5_card .sec5_card_seller {
/*	border: 1px solid red;*/
	left: 50px;
/*	font-weight: bolder;*/
	display: flex;
	line-height: 41px;
	font-size: 1.0em;
}

#sec5 .sec5_card_wapper .sec5_card .sec5_card_seller .seller_img {
	width: 41px;
	height: 41px;
	margin-right: 15px;
}


#sec5 .sec5_card_wapper .sec5_card:nth-of-type(1) .sec5_card_seller .seller_img  {
	background: url(img/seller_profile1.png) no-repeat center/cover;
}

#sec5 .sec5_card_wapper .sec5_card:nth-of-type(3) .sec5_card_seller .seller_img  {
	background: url(img/seller_profile2.png) no-repeat center/cover;
}


#sec5 .sec5_card_wapper .sec5_card:nth-of-type(5) .sec5_card_seller .seller_img  {
	background: url(img/seller_profile3.png) no-repeat center/cover;
}

#sec5 .sec5_card_wapper .sec5_card:nth-of-type(7) .sec5_card_seller .seller_img  {
	background: url(img/seller_profile4.png) no-repeat center/cover;
}





#sec5 .sec5_card_wapper .sec5_card .sec5_card_title span {
	background: url(img/ic_plus.png) no-repeat center/cover;
	width: 33px;
	height: 33px;
	right: 40px;
	position: absolute;
}


/*추가추가*/
#sec5 .sec5_card_wapper .sec5_card_hover{
/*	border: 1px solid red;*/
	width: calc(50% - 100px);
	height: 620px;
	padding: 40px 44px 0;
	border-radius: 15px;
	position: absolute;
	box-sizing: border-box;
	float: left;
	margin: 0 10px 10px 10px;
	cursor: pointer;
	overflow: hidden;
}



#sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(4) {
		left: 50%;
	
}



#sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(6) {
		top: 1005px;

}

#sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(8) {
		left: 50%;
		top: 1005px;
}

/*임시!*/
.sec5_card {
/*	display: none;*/

}


.sec5_card_hover_subtitle, .sec5_card_hover_account {
	font-weight: 	bolder;
	font-size: 1.5em;


}

.sec5_card_hover_result {
	font-weight: bolder;
}

.sec5_card_hover_content {
	margin-top: 20px;
}

#sec5 .sec5_card_wapper .sec5_card_hover .sec5_card_subimg {
		width: 354px;
		height: 374px;	
		position: absolute;
		top: 250px;
		left: calc(50% - 180px);
/*		margin: 50px 0 0 20px;*/
}

#sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(2) .sec5_card_subimg{
		background: url(img/seller_ui1.png);

}
#sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(4) .sec5_card_subimg{
		background: url(img/seller_ui2.png);

}
#sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(6) .sec5_card_subimg{
		background: url(img/seller_ui3.png);

}
#sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(8) .sec5_card_subimg{
		background: url(img/seller_ui4.png);

}



/*##################################
#sec6 section6
##################################*/

#sec6 {
/*	border: 1px solid red;*/
	padding: 180px 55px;
	position: relative;
	height: 774px;
}

#sec6 .sec6_title {
/*	border: 1px solid red;*/
	font-size: 50px;
	font-weight: bolder;
	position: relative;
	margin-bottom: 40px;
}

#sec6 .graph-section {
/*	border: 1px solid red;*/
	box-sizing: border-box;
	height: 575px;
	width: 50%;
/*	min-width: 00px;*/
	position: relative;
	float: right;
}

#sec6 .graph-section .graph-grid {
	box-sizing: border-box;
	width: 100%;
	height: 575px;
	background: #faf9ff;
	
}

#sec6 .graph-section .graph-grid .graph-bar {
/*	border: 1px solid blue;*/
	box-sizing: border-box;
	width: 33.3333%;
	height: 575px;
	float: left;
	margin: 0 auto;
}



#sec6 .graph-section .graph-grid .graph-bar .inner-bar {
/*	border: 1px solid red;*/
	width: 90px;
	position: absolute;
	margin-top: 10px;
	border-radius: 14px 14px 0 0;
	bottom: 0;
}




#sec6 .graph-section:nth-of-type(3) .graph-grid .graph-bar:nth-of-type(1) .inner-bar {
	height: 58%;

	background: linear-gradient(180deg, #d3e2ff 0%, rgba(211, 226, 255, 0.1) 80.49%), #fffcfb;
	animation: graph-grow-1 1s;
}


@keyframes graph-grow-1 {
	from {height: 0;}
	to {height: 58%}
}



#sec6 .graph-section:nth-of-type(3) .graph-grid .graph-bar:nth-of-type(2) .inner-bar {
	height: 71%;
	background: linear-gradient(180deg, #bec1ff 0%, rgba(190, 193, 255, 0.1) 81.25%), #fffcfb;
	animation: graph-grow-2 1s;
}


@keyframes graph-grow-2 {
	from {height: 0;}
	to {height: 71%}
}


#sec6 .graph-section:nth-of-type(3)  .graph-grid .graph-bar:nth-of-type(3) .inner-bar {
	height: 55%;
	background: linear-gradient(180deg, #dbd8ff 0%, rgba(219, 216, 255, 0.1) 100%), #fffcfb;
	animation: graph-grow-3 1s;
}


@keyframes graph-grow-3 {
	from {height: 0;}
	to {height: 55%}
}


#sec6 .graph-section:nth-of-type(2) .graph-grid .graph-bar:nth-of-type(1) .inner-bar {
	height: 111%;
	background: linear-gradient(180deg, #aa96fb 4.49%, rgba(170, 150, 251, 0.05) 100%), #fffcfb;
	animation: graph-grow-4 1s;
}


@keyframes graph-grow-4 {
	from {height: 0;}
	to {height: 111%}
}

#sec6 .graph-section:nth-of-type(2) .graph-grid .graph-bar:nth-of-type(2) .inner-bar {
	height: 131%;
	background: linear-gradient(180deg, #e5d1ff 3.55%, rgba(229, 209, 255, 0.1) 100%), #fffcfb;
	animation: graph-grow-5 1s;
}


@keyframes graph-grow-5 {
	from {height: 0;}
	to {height: 131%}
}


#sec6 .graph-section:nth-of-type(2) .graph-grid .graph-bar:nth-of-type(3) .inner-bar {
	height: 80%;
	background: linear-gradient(180deg, #d6cdff 0%, rgba(214, 205, 255, 0.1) 82.11%), #fffcfb;
	animation: graph-grow-6 1s;
}

@keyframes graph-grow-6 {
	from {height: 0;}
	to {height: 80%}
}







#sec6 .graph-section .graph-grid .graph-bar .percent {
/*	border: 1px solid red;*/
	font-size: 30px;
	font-weight: bolder;
	position: absolute;
	top: -50px;
}



.graph-info {
/*	border: 1px solid red;*/
	width: 100%;
	text-align: center;

}

.graph-info .info {
/*	border: 1px solid red;*/
	box-sizing: border-box;
	width: 33.33333%;
	float: left;
}


.graph-info .info .company {
	font-size: 1.4em;
	font-weight: bolder;
}

.graph-info .info .date {
	font-size: 0.8em;
	font-weight: bolder;
	color: #9d9d9d;
}






/*##################################
#sec7 section7
##################################*/


#sec7	{
	width: 100%;
	overflow: hidden;
	padding: 140px 0;
}

mark {
	background-color: #f4efff;;
}


#sec7	.sec7_box {
/*	border: 1px solid blue;*/
	width: calc(80% - 40px);
	padding: 20px 20px;
	margin: 0 10%;
	overflow: hidden;
}

#sec7	.sec7_card_wrapper {
/*	border: 1px solid red;*/
	width: 4300px;
	overflow: hidden;
	display: flex;
	padding: 20px 20px;
	margin: 0 10%;
	animation: movecard-sec7 15s linear infinite;
	animation-play-state: running;
	position: relative;
}


#sec7 .sec7_card {
/*	border: 1px solid red;*/
	box-sizing: border-box;
	width: 400px;
	min-width: 370px;
	padding: 20px;
	margin-right: 30px;
/*	float: left;*/
	display: block;
	user-select: none;
	box-shadow: 0 0 25px rgb(199 199 199 / 47%);
	border-radius: 20px;
	position: relative;
}


@keyframes movecard-sec7 {
	0% {
      left :0;
  }
  100% {
      left: -2150px;
  }
}


.sec7_card_title {
	font-size: 1.2em;
	font-weight: bolder;
	margin-bottom: 10px;
}

.sec7_card_content {
	margin-bottom: 10px;
}

.sec7_card_writer {
	color: #ab96fb;
	text-align: right;
	font-weight: bolder;
}


/*##################################
#sec8 section8
##################################*/


#sec8 {
	padding: 140px 180px;
/*	border: 1px solid red;*/
	position: relative;
}


#sec8 .sec8_img {
	background: url(img/partner_2111.jpg) no-repeat center/contain;
	max-width: 100%;
	height: 620px;
}



/*##################################
#sec9 section9
##################################*/

#sec9 {
/*	border: 1px solid blue;*/
	padding: 140px 20px;
	position: relative;
	width: 100%;
	overflow: hidden;
}

#sec9 .sec9_title {
/*	border: 1px solid red;*/
	font-size: 3em;
	font-weight: bolder;
	width: calc(100% - 40px);
}

#sec9 .sec9_FAQ {
/*	border: 1px solid blue;*/
	box-sizing: border-box;
	width: calc(50% - 25px);
	float: left;
	margin-right: 10px;
	position: relative;
}

#sec9 .sec9_FAQ .sec9_FAQ_wrapper {
/*	border: 1px solid blue;*/
	border-bottom: 1px solid #c1c1c1;
	box-sizing: border-box;
	width: calc(100% - 0px);
	padding: 30px 0 30px 0;
	position: relative;
}



#sec9 .sec9_FAQ .sec9_FAQ_wrapper .sec9_contetns {
	display: block;
	cursor: pointer;
	font-weight: bolder;
	font-size: 1.5em;
}

#sec9 .sec9_FAQ .sec9_FAQ_wrapper .sec9_contetns .question>span{
		color: #ab96fb;
		margin-right: 20px;
}


#sec9 .sec9_FAQ .sec9_FAQ_wrapper .answer {
	color: #c1c1c1;
	margin: 10px;
	font-size: 15px;
}


/*##################################
footer
##################################*/


#footer {
		background-color: #262626;
		color: white;
		width: calc(100% - 40px);
		padding: 30px 120px;
		overflow: hidden;
}

.footer_title {
/*	border: 1px solid red;*/
	width: calc(100% - 300px);
	float: left;
	box-sizing: border-box;
}

.footer_title .name {
/*	border: 1px solid red;*/
	font-weight: bolder;
	font-size: 1.5em;
	width: 180px;
}


.footer_title .footer_link {
/*	border: 1px solid red;*/
	list-style: none;
	width: 500px;
/*	height: 100%;*/
/*	float: left;*/
}

.footer_title .footer_link li a {
	color: white;
	text-decoration: none;
	float: left;
	margin: 20px 10px 20px 0;
	position: relative;
	display: block;
	cursor: pointer;
}





#footer .styleseller_info{
/*		border: 1px solid red;*/
	margin-top: 20px;
	width: calc(100% - 300px);
	max-width: 945px;
	position: relative;
	font-size: 13px;
	margin-top: 20px;
	position: relative;
}


#footer .copyright{
	font-size: 14px;
	margin-top: 20px;
	position: relative;
}
/*
#sec1, #sec2, #sec3, #sec4, #sec5, #sec6, #sec7, #sec8, #sec9, #footer {
	border: 1px solid blue;

}*/




/*##################################
0. 미디어 쿼리
##################################*/


@media screen and (min-width: 1030px) {
	#gnb .material-symbols-outlined {
		display: none;
	}
/*
	#sec5 {

		width: calc(100% - 40px);
		padding: 180px 20px;

	}*/
	
}



/*sec5를 맞춰주기 위한 미디어쿼리	*/

@media screen and (min-width: 960px) and (max-width: 1029px) {

	#gnb .material-symbols-outlined {
		display: none;
	}

	#sec5 {

		width: calc(100% - 40px);
		padding: 180px 0px;

	}

/*
	#sec5 .sec5_card_wapper .sec5_card {

		width: calc(100% - 65px);
		height: 360px;

	}*/




	#sec5 .sec5_card_wapper .sec5_card .sec5_card_title {
		font-size: 1.5em;

	}


	#sec5 .sec5_card_wapper .sec5_card .sec5_card_seller p {

		line-height: 35px;
		font-size: 0.9em;
	}

	#sec5 {

		width: calc(100% - 40px);
		padding: 180px 20px;

	}



	#sec5 .sec5_card_wapper .sec5_card_hover{
/*		border: 1px solid red;*/
		width: calc(50% - 40px);

	}



	#sec8 {
	padding: 140px 60px;
/*	border: 1px solid red;*/
}


	
}




@media screen and (min-width: 768px) and (max-width: 959px) {
	#gnb .material-symbols-outlined {
		display: none;
	}


		#sec5 .sec5_card_wapper .sec5_card .sec5_card_title {
		font-size: 1.5em;

	}

	#sec5 .sec5_card_wapper .sec5_card .sec5_card_seller p {

		line-height: 35px;
		font-size: 0.8em;
		left: 5px;
	}


	#sec5 {

		width: calc(100% - 40px);
		padding: 180px 0px;

	}




	#sec5 .sec5_card_wapper .sec5_card_hover{
/*		border: 1px solid red;*/
		width: calc(50% - 20px);

	}


	#sec5 .sec5_card_wapper .sec5_card_hover .sec5_card_subimg {

		left: calc(50% - 175px);

	}



#sec8 {
	padding: 140px 60px;
/*	border: 1px solid red;*/
}


}




@media screen and (max-width: 767px) {



	#gnb nav ul a {display: none;}



/* ##################################
section1 - 미디어 쿼리
#####################################*/



	nav{
		position: fixed;
	}

	#gnb .material-symbols-outlined {
		position: fixed;
		top: 10px;
		right: 10%;
		font-size: 2em;
		display: block;
		cursor: pointer;
	}

	#gnb {
		left: 0;
		top: 0;
	}

	#gnb #navlogo {

		left: 0;

	}

	#main1 .purpleBox, #main2 .purpleBox {
/*		border: 1px solid red;*/
		width: 100%;
		height: 70px;
		background-color: rgba(171, 150, 251, 0.7);
	/*	z-index: 999;*/
		position: absolute;
		bottom: 0;
		margin-top: -70px;
	}

	

	#main1 .purpleBox p, #main2 .purpleBox p {
/*		border: 1px solid red;*/
		position: relative;
		width: 130px;
		left: 10px;
		font-size: 1.4em;
		font-weight: bolder;
		color: white;
		letter-spacing: -2px;
		float: left;
		top: 10%;

	}

	#main1 .purpleBox p:nth-of-type(1), #main2 .purpleBox p:nth-of-type(1) {
		text-align: right;
		margin-right: 10px;
		flex-grow: 1;
	}

	#main2 .purpleBox p:nth-of-type(1) {
		width: 90px;

		
	}

	#main1 .material-symbols-outlined, #main2 .material-symbols-outlined  {
		display: none;
	}

	.purpleani {
	animation: purpleani 0.4s;
	}

	@keyframes purpleani {
		0%{
			/*height: 100px;*/
		}

		50%{
			height: 950px;
		}

		100%{
			
		}
	}


	#main1 .main1_txt, #main2 .main1_txt{
		font-size: 0.8em;
	}


	#main1 .main1_txt{
		top: 300px;
	}


	#main1 .main1_txt li:nth-of-type(1) {
		bottom: 180px;
		left: -60px;
	}

	#main1 .main1_txt li:nth-of-type(2) {
		bottom: 180px;
		left: 85px;
	}

	#main1 .main1_txt li:nth-of-type(3) {
		bottom: 180px;
		left: 201px;
	}



	#main2 {
		background: url(img/m_bg_main1.jpg) no-repeat center/cover !important;
	}


	#main2 .main1_txt .main1text,	#main2 .main1_txt .main1img {
/*		border:	1px solid red;*/
		top: 0px;
		left: 50px;
	}


	#main2 .main1_txt li:nth-of-type(1) {
		bottom: 350px;
		left: -75px;
	}

	#main2 .main1_txt li:nth-of-type(2) {
		bottom: 350px;
		left: 105px;
	}

	#main2 .main1_txt li:nth-of-type(3) {
		bottom: 350px;
		left: 215px;
	}



/* ##################################
section2 - 미디어 쿼리
#####################################*/
	#sec2 {
/*	border: 1px solid red;*/
	display: block;
}

#sec2content1{
	height: unset;
	justify-content: center;
}

#sec2 #carousel1 {
	margin-top: 100px;
	top: 0;
	left: 0;
}




#sec2 #sec2content1 #sec2txt {
/*	border: 1px solid red;*/
	text-align: center;
	font-size: 2em;
	top: 100px;
	left: -40px;
}

#sec2 #sec2content1 #sec2txt span:nth-of-type(1) {
/*	border: 1px solid red;*/
	left: -115px;
	position: relative;
}

#sec2 #sec2content1 #sec2txt span:nth-of-type(2) {
	left: 110px;	
}

#sec2 #sec2content1 #sec2txt span:nth-of-type(3) {
	left: 130px;	
}


#sec2 #sec2content1 .sec2Btn {
	left: 100px;
	top: 120px;
}



#sec2 #sec2content1 #sec2subtxt {
/*	border: 1px solid red;*/
	top: 700px;
	text-align: center;
	font-size: 0.8em;
}

/*###################################
section3 - 미디어 쿼리

#####################################*/


	#sec3 #sec3img {
		opacity: 0.1;
		left: 1%;
	}


.secTxtWrapper{

	position: absolute;

	top: 180px;
	left: 100px;
}




	#sec3_1st , #sec3_2st, #sec3_3st {
		left: 21%;
/*		margin-top: 300px;*/
	}

	#sec3txt {
		left: 5%;
	}




	#sec4 {
		background: url(img/m_bg_3.jpg) no-repeat center/cover !important;
	}

	#sec4 .sec4_contents{
/*		border:	1px solid red;*/
		width: 85%;
		height: 80%;
		margin: 0 auto;
		top: 12%;
		position: relative;

	}

	#sec4 .sec4_contents h1 {
		font-size: 2.0em;
		text-align: center;
	}

	#sec4 .sec4_contents .seller div {
		font-size: 0.8em;
	}

	#sec4 .sec4_contents .seller .sec4_count {
		top: -50px;
	}

	#sec4 .sec4_contents .seller .sec4_fixed {
		top: -15px;
	}
	
	#sec4 .sec4_contents .sec4_btn {
		left: 22%;
	}

/*###################################
section5 - 미디어쿼리
#####################################*/
	#sec5 {

		width: calc(100% - 40px);
		padding: 180px 0px;
		height: 1500px;

	}

	#sec5 .sec5_card_wapper .sec5_card {

		width: calc(100% - 18px);
		height: 360px;

	}


	#sec5 .sec5_title {
	/*	border: 1px solid red;*/
		font-size: 1.8em;
		text-align: center;
		justify-content: center;
		left: -5px;

	}

	#sec5 .sec5_card_wapper .sec5_card .sec5_card_title {
		font-size: 1.5em;

	}

	#sec5 .sec5_card_wapper .sec5_card .sec5_card_seller {

		line-height: 35px;
		font-size: 0.9em;
	}

	#sec5 .sec5_card_wapper .sec5_card .sec5_card_seller .seller_img {
		width: 35px;
		height: 35px;
		margin-right: 10px;
	}

	#sec5 .sec5_card_wapper .sec5_card .sec5_card_title span {
		top: 300px;

	}

		#sec5 .sec5_card_wapper .sec5_card_hover {

		width: calc(100% - 18px);
		height: 360px;

	}

	#sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(4) {
			left: 0;
			top: 692px;
		}


		#sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(6) {
			top: 1072px;

		}

		#sec5 .sec5_card_wapper .sec5_card_hover:nth-of-type(8) {
				left: 0;
				top: 1452px;
		}


		.sec5_card_subimg {
			display: none;
		}

		.sec5_close_btn {
			background: url(img/ic_plus.png) no-repeat center/cover;
			width: 33px;
			height: 33px;
			right: 40px;
			top: 40px;	
			position: absolute;
			transform: rotate(45deg);
		}



		#sec5 .sec5_card_wapper .sec5_card {
			cursor: default;
		}

		.sec5_close_btn, .sec5_open_btn {
			cursor: pointer;
		}


		#sec5 .sec5_card_wapper .sec5_card:hover + #sec5 .sec5_card_wapper .sec5_card_hover {
        opacity: 1;
    }


/*###################################
section6 - 미디어쿼리
#####################################*/
#sec6 {
	padding: 140px 55px;
	height: 1150px;
}

#sec6 .sec6_title {

	font-size: 30px;
	font-weight: bolder;
	top: -60px;
	left: calc(50% - 100px);
	margin-bottom: 70px;
	margin-top: 50px;
	

}


#sec6 .graph-section .graph-grid {
height: 365px;
	
}

#sec6 .graph-section .graph-grid .graph-bar {

	height: 365px;

}


#sec6 .graph-section {
 	top: 20%;
 	width: 100%;
 	height: 365px;
	clear: right;
}

 #sec6 .graph-section:nth-of-type(2) {
   	top: 80px;
  }

#sec6 .graph-section .graph-grid .graph-bar .inner-bar {

	width: 60px;

}




#sec8 {
	padding: 0px 10px;
/*	border: 1px solid red;*/
}


#sec8 .sec8_img {
/*	border: 1px solid red;*/
	background: url(img/m_partner_2111.jpg) no-repeat center/100%;
/*	max-width: 100%;*/
	height: 850px;
/*	min-height: 800px;*/
}



#sec9 {
/*	height: 	1000px;*/
}
#sec9 .sec9_title {
/*			padding: 40px 20px;*/

	text-align: center;
	margin-bottom: 50px;
	font-size: 1.8em;
}



#sec9 .sec9_FAQ {
width: calc(100% - 40px);
	clear: left;
	font-size: 0.8em;
	align-items: center;
}


#sec9 .sec9_FAQ .sec9_FAQ_wrapper {

	padding: 20px 0 20px 0;
}



#footer {
/*		border: 1px solid red;*/
		width: calc(100% - 20px);
		padding: 10px 10px;

}

.footer_title {

	width: 100%;
	text-align: center;
}

.footer_title .name {
	width: 100%;
	text-align: center;
}


.footer_title .footer_link li{

}

.footer_title .footer_link li a {
	margin: 15px 24px;
	font-size: 13px;
}





#footer .styleseller_info{
/*		border: 1px solid red;*/
	margin-top: 20px;
	width: calc(100% - 20px);
	font-size: 10px;

}

#footer .copyright {
	font-size: 11px;
}




}

