
html, body {
  height: 100%;

}

body{
	padding-bottom: 1000px;
}

.cs-font-13 {
	font-size: 13px;
}



.cs-input-noneborder {
	border: none;
}

.cs-input-noneborder:focus {
	border-color: white;
	outline: none;
}


.cs-search {
	border: 1px solid purple;
	width: 350px;
	height: 40px;
	border-radius: 5px;
	padding-left: 5px;
	user-select: none;
	overflow: hidden;
	line-height: 40px;
}


.cs-align-right {
	align-content: right;
}


.cs-h320 {
	height: 320px;
}


.cs-img-center {
	margin: 0 auto;
}


.cs-bg-1 {
	background-color: #252525;
}


.cs-bg-2 {
	background-color: #141023;
}


.cs-bg-3 {
	background-color: #f8c855;
}





.timerWrap .timerBox .settingTime { 
	display: none;
}
.timerWrap .timerBox .countNumberWrap > span {
	font-size: 30px;
	font-weight: bold;
}


.text-ani {
	display: block;
	animation: text-ani 0.5s infinite;
}

@keyframes text-ani {
	0% {
		transform: rotateX(0deg);
	}
	25% {
		transform: rotateX(-40deg);
	}
	75% {
		transform: rotateX(40deg);
	}
	100%{
		transform: rotateX(-20deg);
	}
}


a {
	text-decoration: none;
	color: black;
}

.cs-font-10 {
	font-size: 12px;
	text-align: center;

}

.banner {
	background-color: #aa96fb;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 25px;
	display: block;
	cursor: pointer;
	user-select: none;
}


.cs-text-aqua {
	color: #23E8CA;
}







/*####################################
미디어쿼리
####################################*/

